.films-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.films-page ul {
  padding: 1rem;
}

.films-page li {
  list-style: none;
  margin: 0.25rem 0;
}

.films-page a {
  text-decoration: none;
}

.film-stats div{
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
